<div class="parent"> 
  <div class="container">
      <div class="form-container sign-in" >
          <form>
              <h1>Connexion</h1>
              <div class="social-icons">
                  <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                  <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                  <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                  <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
              <span>ou utilisez votre e-mail</span>
              <input type="email" formControlName="email" placeholder="Email">
              <input type="password" formControlName="password" placeholder="Password">
              <a href="#">→ mot de passe oublié? ←</a>
              <button type="button" (click)="onLogin()">Connexion</button>
          </form>
      </div>
  </div>
</div>
