<header>
  <h1>Bienvenue sur l'espace electeur </h1>
  <nav>
    <ul>
      <li><a href="#">Accueil</a></li>
      <li><a href="#">À propos</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>

<main>
  <form [formGroup]="electeursForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="numElecteur">Numéro d'électeur :</label>
      <input type="text" id="numElecteur" formControlName="num_electeur">
    </div>
    <div>
      <label for="numCarteIdentite">Numéro de carte d'identité :</label>
      <input type="text" id="numCarteIdentite" formControlName="cni" >
    </div>
    <div>
      <label for="nomFamille">Nom de famille :</label>
      <input type="text" id="nomFamille" formControlName="nom" >
    </div>
    <div>
      <label for="numBureauVote">Numéro de bureau de vote :</label>
      <input type="text" id="numBureauVote" formControlName="num_bureau">
    </div>
    <button type="submit" [disabled]="!electeursForm.valid" >Vérifier Informations</button>
    @if(informationsValides)
    {
      <div>
        <div>
          <div>
            <label for="telephone">Numéro de téléphone:</label>
            <input type="text" id="telephone" formControlName="telephone">
          </div>
          <div>
            <label for="email">Adresse email:</label>
            <input type="text" id="email" formControlName="email">
          </div>
        </div>
      </div>
    }
  </form>

 
</main>
